.menuGalery{
    display: flex;
    flex-direction: row;
    height: 750px;
    width:550px ;
    margin: 2em;
    img{
        display: flex;
        width: 270px;
        flex-grow: 1;
        border: $backGroundText;
        object-fit: cover;
        transition: 0.5s;
        opacity: .98;
        box-shadow:4px 4px 8px 8px;
        background-image: linear-gradient(rgba(153, 210, 243, 0.9), $bordersColor);
    }
    img:hover{
        width: 550px;
        filter: contrast(100%);
        opacity: 1;
     }
}


