$mainColor: rgb(198, 209, 211, 0.96);
$secundaryColor: rgb(163, 129, 79);
$fontColor: rgb(19,18,18);
$fontFamilies: 'Geologica', sans-serif;
$breakPoints: 450px;
$backGroundText: solid 3px rgb(15,15,15,0.9);
$bordersColor:rgb(15,15,15,0.9);