@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200&display=swap');
@import "_vars";
@import "_nav";
@import "_footer";
@import "_index";
@import "_menu";
@import "_productos";
@import "_trabajaConNosotros";
@import "_dondeEstamos";

*{
    font-family: $fontFamilies;
    color: $fontColor;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    object-fit: cover;
}
body::-webkit-scrollbar{
    width: 5px;
    background:$mainColor;
}
body::-webkit-scrollbar-thumb{
    background-color:$mainColor;
    border-radius: 5px;
}
body{
background-image: url(../imagenes/v60.png);   
 background-repeat:repeat;
 background-color: $secundaryColor;
 box-sizing: border-box;
} 
@media(width<$breakPoints){

    body{
        width: 100%;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "nav"
        "header"
        "main"
        "aside"
        "footer"
        ;
    }
    header{
        grid-area: header;
    }
    main{
        grid-area:main;
    }
    aside{
        grid-area:aside;
    }
    footer{
        grid-area:footer;
    }
    .imgIndex{
        height: 300px;
    }
    .mainArt{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
    }
/*donde estamos*/
.bodyDondeEstamos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "navegador"
    "texto"
    "imagen"
    "mapa"
    "pie"; 
}
.navGridResponsive{
    grid-area: navegador;
}
.headerDondeEstamos{
    grid-area: mapa;
    margin: 1em;
}
.mainDondeEstamos{
    grid-area: texto;
    display: flex;
    flex-direction: column;
    align-items:start;
    grid-row: 1/4;
    width: 26%;
    margin-top: 7em;
}
.asideDondeEstamos{
    grid-area: imagen;
    display: flex;
    flex-direction: column;
    align-items:end;
    margin-top: 7em;
}
/*trabaja con nosotros*/
.parrafTrabajo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: 2em;
    font-size: xx-large;
    background-color: $mainColor;
}
/*menu*/
.menuGalery{
    width: 100%;
    height: 700px;
    margin: 0;
    flex-direction: column;
    img{
        width: 100%;
        height: 10px;
    }
    img:hover{
        width: 100%;
        height: 600px;
    }
}
/*productos*/
.mainProduct{
    section{
        width: 100%;
    .divProduct{
        margin: 1em;
        padding: 1em;
        width: 100%;
        div{
           display: flex;
              img {
                   width: 50%;
                   }
              p   {
                   font-size: small;
                  }
            }
     }
   }
 }
}