@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200&display=swap');

*{
    font-family: 'Geologica', sans-serif;
    color: rgb(19, 18, 18);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body::-webkit-scrollbar{
    width: 5px;
    background:rgb(198, 209, 211, 0.1);
}
body::-webkit-scrollbar-thumb{
    background-color:rgb(198, 209, 211, 0.96);
    border-radius: 5px;
}
body{
background-image: url(../imagenes/v60.png);   
 background-repeat:repeat;
 background-color: rgb(250, 225, 220, 0.96);;
} 
.bodyIndex{
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 4fr;
    grid-template-areas: 
    "navWeb" 
    "headerImg" 
    "mainIndex" 
    "asideIndex" 
    "footerWeb";
} 

/*nav*/

.navBstrap{
    background-color: rgb(198, 209, 211);
}
 

/*.navWeb{
background-color: rgb(198, 209, 211, 0.96);
grid-area: navWeb;
position: fixed;
width: 100%;
display: flex;
justify-content: space-between;
box-sizing: border-box;
}
.navUl{
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0.8em;
    padding: 0.8em;
    list-style: none;
   }
.indexTitle{
font-size: 2.42em;
margin: 0.1em;
}*/

/*header*/

.headerImg{
    grid-area: headerImg;
}
.imgIndex{
    width: 100%;
    height: 38em;
    box-shadow:5px 5px 5px  rgb(15, 15, 15, 0.7);
    margin:0%;
    border: solid rgb(15, 15, 15);
    object-fit: cover;
}


/*main*/

.mainIndex{
    grid-area: mainIndex;
    margin: 8em;
    display: flex;
    justify-content: center;
}

.mainArt{
    width: 50%;
    background-color: rgb(198, 209, 211, 0.96);
    margin: auto;
    padding: 1em;
    border-radius: 20px;
    text-align: center;
}

/*aside*/

.asideIndex{
    grid-area: asideIndex;
    width: 100%;
    height: 30em;
    overflow: hidden;
    text-align: center;
}
.divText{
    display: flex;
    justify-content: center;
}
.asideTitle{
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(198, 209, 211, 0.96);
    width: fit-content;
    border-radius: 6px;
}

.divScroll{
    width: 100%;
    height: 400px;
    padding:1.6em;
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    scroll-snap-type:x mandatory;
    scroll-padding: 24px;
    gap: 8px;
    border-radius: 8px;
    background-color: rgb(198, 209, 211, 0.9);

}
.divScroll::-webkit-scrollbar{
    width: 7px;
}
.divScroll::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color:rgb(198, 209, 211, 0.96);
    border: solid 2px rgb(15, 15, 15, 0.7);
}

/*footer*/

.footerWeb{
    grid-area: footerWeb;
    background-color: rgb(198, 209, 211, 0.96);
}

.footerUl{
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0.8em;
    list-style: none;
}

.redIcon{
    display: flex;
    justify-content: space-around;
}

.footerIcon{
    width:50px;
    height: 50px;
}

/* trabaja con nosotros pagina*/


.mainTrabajo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}
.sectionForm{
    display: flex;
    justify-content: center;
    width: fit-content;
    background-color: rgb(198, 209, 211, 0.96);
    border-radius: 20px;
}
.formMain{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    width: 320px;
    height: 490px;
    font-size: large;
}
.parrafTrabajo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 2em;
    font-size: xx-large;
    background-color: rgb(198, 209, 211, 0.9);
}
.imgTrabajo{
    width: 100%;
    height: 41em;
    border: solid rgb(15, 15, 15);
    object-fit: cover;
}
input{
border-radius: 6px;
border: solid rgb(15, 15, 15);
}
.filetype{
    width: 5px;
}

/*DondeEstamos*/
.bodyDondeEstamos{
display: grid;
grid-template-columns:repeat(4, 1fr);
grid-template-rows:56px repeat(7, 1fr);
grid-template-areas: 
"navBootstrap"
"mapa"
"texto" 
"imagen"
"pie"; 
}
.navBstrap{
    grid-area: navBootstrap;
    grid-column: 1/5;
    grid-row: auto;
}
.headerDondeEstamos{
grid-area: mapa;
grid-column: 1/3;
grid-row: 3/7;
margin-left: 0.4em;
margin-right: 0.4em;
}
.mainDondeEstamos{
grid-area: texto;
grid-column: 3/4;
grid-row: 3/7;
}
.mainDondeEstamos p{
    font-size: large;
    font-weight: bolder;
    background-color: rgb(198, 209, 211, 0.9);
    padding: 0.5em;
}
.asideDondeEstamos{
grid-area: imagen;
grid-column: 4/4;
grid-row: 3/7;
}
.asideDondeEstamos img{
    width: 24em;
    height: 17em;
    object-fit: cover;
    margin-bottom: 1em;
    margin-left: 4em;
    border: solid 0.5em rgb(198, 209, 211);
    border-radius: 6px;
}
.footerWeb{
    grid-area: pie;
    grid-column: 1/5;
    grid-row: 8/8;
}
.mapNieva{
    border-radius: 0.8em;
    border: solid rgb(15, 15, 15,) 0.5em;
    position: relative;
    overflow: hidden;
}


/*responsive*/

@media (width < 700px){
    .bodyIndex{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "navWeb" 
    "headerImg" 
    "mainIndex" 
    "asideIndex" 
    "footerWeb"
    ;
} 
.navBstrap{
    grid-area: navWeb;
    grid-column: 1/8;
}
.indexTitle{
    font-size: 1.4em;
}
.headerImg{
    grid-area: headerImg;
}
.imgIndex{
    height: 300px;
}
.mainIndex{
    grid-area: mainIndex;
}
.mainArt{
    width: fit-content;
    text-align: center;
    }
.asideIndex{
    grid-area: asideIndex;
}
.footerWeb{
    grid-area: footerWeb;
    grid-column: 4/4;
}

    /* donde estamos*/
    .bodyDondeEstamos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "navegador"
        "texto"
        "imagen"
        "mapa"
        "pie"; 
    }
    .navBstrap{
        grid-area: navegador;
    }
    .headerDondeEstamos{
        grid-area: mapa;
        margin: 1em;
    }
    .mainDondeEstamos{
        grid-area: texto;
        display: flex;
        flex-direction: column;
        align-items:start;
        grid-row: 1/4;
        width: 26%;
        margin-top: 7em;
    }
    .asideDondeEstamos{
        grid-area: imagen;
        display: flex;
        flex-direction: column;
        align-items:end;
        margin-top: 7em;
    }
    .footerWeb{
        grid-area: pie;
    }
    /*trabaja con nosotros*/
    .trabajaConNosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "navTrabajo"
        "headerTrabajo"
        "mainTrabajo"
        "footerTrabajo"
        ;
    }
    .navBstrap{
        grid-area: navTrabajo;
    }
    .headerTrabajo{
        grid-area: headerTrabajo;
    }
    .mainTrabajo{
        grid-area:mainTrabajo;
    }
    .footerWeb{
        grid-area: footerTrabajo;
    }
}
